* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  /* background: #001e4d; */
  background-image: url(Background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.app {
  max-width: 60vw;
  width: 100%;
  max-height: 60vh; /* Adjusts height to a maximum of 60% of the viewport height */
  height: auto; /* Adjusts automatically to the content */
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.app h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 2px solid #001e4d;
  padding-bottom: 20px;
}

.quiz h2 {
  font-size: 1.5rem; /* Responsive font size */
  color: #001e4d;
  font-weight: 600;
  padding-top: 1rem;
}

.btn {
  display: flex;
  justify-content: center; /* Centers button text */
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 90%;
  border: 1px solid #222;
  border-radius: 30px;
  padding: 12px;
  margin: 8px auto; /* Centers button */
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disable]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

@media (max-width: 768px) {
  .app {
    width: 90vw;
    padding: 20px;
  }
  .app h1 {
    font-size: 4vw;
  }
  .quiz h2 {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .app {
    width: 95vw;
  }
  .app h1,
  .quiz h2 {
    font-size: 5vw;
  }
  .btn {
    padding: 10px;
  }
}
